<div class="visitor-info-block">
  {% if data.first %}
    <div class="first-visit">
      这是你第一次访问本网站。
    </div>
  {% else %}
    <div class="visitor-info-container">
      <div class="item">这是第{{ data.info.totalVisits }}次访问</div>
      <div class="item">总共访问页面数：{{ data.info.totalPageViews }}</div>
      <div class="item">总共访问不同页面数：{{ data.info.totalUniquePageViews }}</div>
      <div class="item">访问总时长：{{ data.info.totalVisitDurationPretty }}</div>
      <div class="item">上次访问IP：{{ data.info.lastVisits[0].visitIp }}</div>
      <div class="item">首次访问时间：{{ data.info.firstVisit.prettyDate }}</div>
      <div class="item">上次访问时间：{{ data.info.lastVisit.prettyDate }}</div>
      <div class="item">上次访问地点：{{ data.info.countries[0].prettyName }}</div>
      <div class="item">上次访问设备：{{ data.info.devices[0].type }}</div>
      <div class="item">访问设备分辨率：{{ data.info.lastVisits[0].resolution }}</div>
      <div class="item">访问过页面:
        <ul>
          {% for item in data.info.visitedPages %}
            <li>{{ item.url }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
</div>